/* Circular shape in horizontal scroll */
.service-circular {
  position: relative;
  min-width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #111111;
  flex-shrink: 0;
}

.service-circular .shape-thumb {
  width: 30vmin;
  height: 30vmin;
  position: relative;
}

.service-circular .shape-thumb img {
  width: 100%;
  height: 100%;
  display: block;
  transform-origin: center center;
  opacity: 1;
  object-fit: contain;
}
