@use "utils/index" as *;
@use "components/index" as *;
@use "pages/digital-agency" as *;
@use "pages/design-agency" as *;
@use "pages/creative-agency" as *;
@use "pages/marketing-agency" as *;
@use "pages/startup-agency" as *;
@use "pages/portfolio-agency" as *;
@use "pages/portfolio" as *;
@use "pages/parallax-carousal" as *;
@use "pages/portfolio-showcase" as *;
@use "pages/modern-agency" as *;
@use "pages/404" as *;
@use "pages/about" as *;
@use "pages/blog-details" as *;
@use "pages/blog" as *;
@use "pages/contact" as *;
@use "pages/faq" as *;
@use "pages/service-details" as *;
@use "pages/services" as *;
@use "pages/team-details" as *;
@use "pages/team" as *;
@use "pages/work-details" as *;
@use "pages/work" as *;
@use "pages/header" as *;
@use "pages/footer" as *;